.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--primary-bg-color);
  @media screen and(max-width: 1199px) {
    text-align: center;
  }

  &__wrapper {
    @media screen and(min-width:768px) {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
    }
    @media screen and (max-width: 767px) {
      margin-bottom: 60px;
    }
    @media screen and(min-width:768px) 
    and(max-width:1199px) {
      margin-bottom: 60px;
    }
  }

  &__main {
    @include desk {
      display: flex;
      align-items: baseline;
    }
  }

  &__address{
    @media screen and (max-width: 767px){
      margin-bottom: 60px;
    }
  }

  &__logo {
    margin-bottom: 20px;

    color: var(--main-light-color);
  }
}

.address {
  // display: flex;

  text-decoration: none;
  font-style: normal;
  
}

.address-link.map {
  color: var(--main-light-color);
}

.address-link {
  text-decoration: none;
  font-style: inherit;

  transition: color var(--transition-time) var(--function-time);

  color: var(--address-main-color);
  @include desk {
    display: flex;
  }
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.join {
  @include size(206px, null);
  // min-width: 206px;
  // @include tab{
  //   margin-left: auto;
  // }
  @include desk {
    margin-left: 70px;
  }
}

.join__text {
  @media screen and(max-width:1199px) {
    text-align: center;
  }
  margin-bottom: 20px;

  color: var(--main-light-color);
  text-transform: uppercase;
  line-height: 1.14;
  font-weight: 700;
}

.join-list {
  @extend %display-wrap;

  list-style: none;

  & .join-item + .join-item {
    margin-left: 10px;
  }
}

.join__link {
  background: var(--background-icon-color);
  color: var(--main-light-color);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.join__icon {
  fill: currentColor;
}

.subscribe {
  display: flex;
  flex-direction: column;
  @media screen and(min-width:1200px) {
    margin-left: 93px;
  }
}

.subscribe__text {
  margin-bottom: 20px;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--main-light-color);
}

.subscribe__list {
  @include desk {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and(max-width:1199px) {
    justify-content: center;
  }
}
@include desk {
  .subscribe__list .subscribe__item + .subscribe__item {
    margin-left: 12px;
  }
}
.subscribe__input {
  display: inline-block;
  
  padding: 15px;
  @include desk {
    @include size(356px, 50px);
  }
  @media screen and(max-width:1199px) {
    margin-bottom: 20px;
  }
  @media screen and(min-width:480px) and(max-width:1199px) {
    @include size(450px, 50px);
  }
  @media screen and(max-width: 479px) {
    width: 100%;
  }

  color: var(--main-light-color);
  background-color: var(--primary-bg-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  border-radius: 4px;
  outline: none;

  &:focus,
  &:hover {
    border-color: var(--accent-color);
  }

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;

    color: rgba(255, 255, 255, 0.6);
  }
}

.subscribe__btn {
  @include desk {
    display: flex;
  }
  display: inline-flex;
  align-items: center;

  padding: 10px 28px;
  min-width: 200px;
  max-height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--main-light-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;

  transition: background-color var(--transition-time) var(--function-time),
    box-shadow var(--transition-time) var(--function-time);

  &:hover,
  &:focus {
    background-color: var(--hover-btn-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.subscribe__icon {
  margin-left: 10px;

  fill: currentColor;
}
