.card-set {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  background: var(--main-light-color);
}

.card-set__item {
  @media screen and (max-width: 767px) {
    margin-top: var(--item-space-gap);
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - var(--item-space-gap));
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 3 - var(--item-space-gap));
  }
  justify-content: center;

  transition: box-shadow var(--transition-time) var(--function-time);
}

.portfolio__title {
  margin-bottom: 25px;

}

.portfolio__thumb {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.product-overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  overflow: auto;

  background: var(--thumb-hover-color);
  transform: translateY(120%);
  transition: transform var(--transition-time) var(--function-time);

  .portfolio__link:hover &,
  .portfolio__link:focus & {
    transform: translateY(0);
  }
}

.product-overlay__text {
  display: inline-block;
  position: absolute;
  top: 24px;
  left: 24px;

  @include tel{
    top: 77px;
    font-size: 18px;
  }
  @include tab{
    top: 49px;
    max-width: 306px;
    max-height: 196px;
  }
  @include desk{
    top: 63px;
    max-width: 322px;
    max-height: 168px;
  }

  font-size: 15px;
  line-height: 1.55;
  color: var(--main-light-color);
}

.portfilio__content {
  -webkit-box-flex: 1;
  flex-grow: 1;
  padding: 20px 24px;
  border-bottom: 1px solid var(--border-line-color);
  border-left: 1px solid var(--border-line-color);
  border-right: 1px solid var(--border-line-color);
}

.portfolio__link {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-style: inherit;
  color: inherit;

  &:focus,
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio__subtitle {
  -webkit-box-flex: 1;
  flex-grow: 1;
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__info {
  -webkit-box-flex: 1;
  flex-grow: 1;
  font-size: 16px;
  line-height: 1.8;
}
