:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --first-btn-color: #f5f4fa;
  --hover-btn-color: #188ce8;
  --main-light-color: #ffffff;
  --primary-bg-color: #2f303a;
  --logo-text-color: #000000;
  --border-line-color: #eeeeee;
  --head-border-color: #ececec;
  --item-space-gap: 30px;
  --first-icon-color: #afb1b8;
  --background-icon-color: rgba(255, 255, 255, 0.1);
  --address-main-color: rgba(255, 255, 255, 0.6);
  --thumb-hover-color: rgba(33, 150, 243, 0.9);
  --transition-time: 250ms;
  --function-time: cubic-bezier(0.4, 0, 0.2, 1);
}
